.contacto{
  margin-top: 90px;
}

.contacto1 {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.contactTitle{
  font-family: 'Shrikhand';
  font-weight: 400;
  color: #d79128d7;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
  align-items: center;
}

form input {
  height: 40px;
  width: 60%;
  border: 1px solid #764d2a;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Roboto Serif';
  color:#764d2a;
}

form textarea {
  margin-top: 10px;
  height: 70px;
  width: 60%;
  border: 1px solid #764d2a;
  border-radius: 10px;
  background-color: transparent;
  font-family: 'Roboto Serif';
  color:#764d2a;
}


form label {
  font-family: 'Roboto Serif';
  font-size: 14px;
  color: #764d2a;
  margin-bottom: 10px;
  
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color:#d79128d7 ;
  font-family: 'Roboto Serif';
  color:#EFE9E7;
  font-size: 15px;
  cursor: pointer;
}