@font-face {
  font-family: 'Roboto Serif';
  src: url('../fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf');
}

@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand-Regular.ttf');
}