.navbar {
  position: fixed; /* Fija la navbar en la posición especificada */
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #EFE9E7;
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos en la navbar */
  justify-content: space-between;
  border-bottom: 1px solid #764e2a5d;
  z-index: 1000;
}


.navbar button {
  background-color: transparent;
  border: none;
  color: #764d2a;
  cursor: pointer;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 40px;
}

.navbar .Menu {
  width: 20px;
}


/* Ajustes para el contenedor visible de los logos */
.visibleLogos {
  display: flex;
  align-items: center;
}

/* Ajustes para los logos */
.visibleLogos .logo {
  width: 57px;
  margin-left: 20px;
}

.visibleLogos .logotxt {
  width: 200px;
  margin-left: 14px;
  margin-top: 20px;
}

/* Ajustes para las opciones del menú fuera del Navbar */
.hiddenLinks {
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #764e2a;
  width: 100%;
  z-index: 999;
}

/* Estilos para los enlaces dentro del menú */
.hiddenLinks a {
  display: block;
  font-family: 'Roboto Serif';
  font-size: 14px;
  font-weight: lighter;
  color: #EFE9E7;
  text-decoration: none;
  padding: 8px 0;
  margin-left: 20px;
}
