.sobreNosotros{
  margin-top: 90px;

}

.sobreNosotros1 {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sobreNosotros2{
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;

}

.sobrenosotrosDescrip {
  margin: 26px;
  font-family: 'Roboto Serif';
  font-size: 14px;
  text-align: justify;
  color: #764d2a;
}

.sobrenosotrosTitle{
  font-family: 'Shrikhand';
  font-weight: 400;
  color: #d79128d7;
  display: flex;
  justify-content: center;
}